body {
  background-color: #f5f1fe;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-container {
  margin: 120px auto;
  max-width: 600px;
  padding: 20px;
}

header {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.5;
  color: #7b4cf0;
}

a {
  color: #7b4cf0;
}

form {
  display: flex;
}
.form-container {
  background-color: white;
  margin-bottom: 30px;
  padding: 30px 20px 20px 10px;
  background-color: white;
  box-shadow: 12px 10px 40px rgba(65, 50, 100, 0.1);
  border-radius: 5px;
}

.hint {
  text-indent: 5%;
  font-size: small;
  font-style: italic;
  margin-top: 5px;
  color: rgba(18, 18, 18, 0.512);
}

.instructions {
  padding: 16px;
  border: 1px solid #7b4cf0;
  width: 80%;
  font-size: 16px;
  border-radius: 40px;
  line-height: 20px;
  color: rgb(2, 2, 2);
}

.submit-button {
  margin: 10px;
  background-color: #7b4cf0;
  color: #f5f1fe;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
  font-size: 16px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.loading {
  text-align: center;
  animation: blink 2s infinite;
}

.poem-container {
  border-radius: 5px;
  box-shadow: 12px 10px 40px rgba(65, 50, 100, 0.1);
}

.poem {
  font-size: 14px;
  background-color: #ffffff;
  padding: 20px;
  line-height: 2;
  border-left: 5px solid #7b4cf0;
}

.poem-hidden {
  display: none;
}

.credits {
  color: #7b4cf0;
  font-style: italic;
  line-height: 30px;
}

footer {
  text-align: center;
  font-size: 13 px;
  margin-top: 30px;
}
